language: ruby
rvm:
  - 2.2
notifications:
  email: false
before_script:
  - gem install awesome_bot
script:
  - awesome_bot README.md --allow-dupe --allow-redirect
  - awesome_bot LIST.md --allow-dupe --allow-redirect 
